* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

body {
    background-color: black;
    color: white;
}

.logo {
    height: 40px;
    width: 148px;
    z-index: 10;
}

.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 64vw;
    margin: auto;
    padding: 17px 0;
}

.logo_img {
    margin-left: 16px;
    z-index: 10;
}

.nav_buttons {
    z-index: 10;
    padding-right: 20px;
}

.language, .sign_in {
    padding: 8px 18px;
    font-size: 0.9rem;
    font-weight: 700;
    border-radius: 3px;
    cursor: pointer;
}

.language {
    background-color: rgba(0, 0, 0, 0.405);
    color: white;
    border: 0.01px solid rgba(255, 255, 255, 0.523);
}

.sign_in {
    background-color: red;
    color: white;
    border: 0.8px solid red;
    margin-left: 10px;
}

.sign_in:hover {
    background-color: rgb(224, 7, 7);
}

.main {
    background-image: url("/assets/images/background.png");
    height: 60vh;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
}

.background {
    height: 60vh;
    width: 100%;
    background-color: black;
    opacity: 0.6;
    box-shadow: inset 0 0 5px 60px rgb(0, 0, 0);
    z-index: 3;
    position: absolute;
    top: 0;
}

.main_content {
    text-align: center;
    padding-top: 20px;
    z-index: 5;
    position: relative;
}

.main_content h1 {
    font-size: 3em;
    font-weight: 700;
    margin-top: 170px;
}

.main_content p {
    margin-top: 20px;
}

.p1 {
    font-size: 1.5em;
}

.p2 {
    font-size: 1.3em;
    padding-top: 5px;
}

.input {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 90vw;
    margin: 20px auto;
    gap: 12px;
    z-index: 5;
    position: relative;
}

@media (min-width: 768px) {
    .input {
        flex-direction: row;
    }
}

.email {
    padding: 12px 25px;
    width: 300px;
    border: 0.01px solid rgba(255, 255, 255, 0.523);
    border-radius: 3px;
    background-color: rgba(0, 0, 0, 0.345);
    color: white;
    font-size: 1.3rem;
}

.get_started {
    padding: 12px 25px;
    background-color: red;
    color: white;
    border: 0.8px solid red;
    border-radius: 3px;
    font-size: 1.4rem;
    font-weight: 700;
}

.get_started:hover {
    background-color: rgb(224, 7, 7);
}

.line {
    height: 6px;
    background-color: rgb(54, 53, 53);
}

.first {
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    margin: auto;
    flex-wrap: wrap;
    padding: 50px 0;
    width: 60vw;
}

.sec_content {
    flex: 1;
    min-width: 300px;
    padding: 20px;
    /* text-align: center; */
}

.sec_content p {
    margin-bottom: 20px;
}

.sec_content p:nth-child(1) {
    font-size: 48px;
    font-weight: bolder;
}

.sec_content p:nth-child(2) {
    font-size: 24px;
}

.sec_img {
    flex: 1;
    min-width: 300px;
    position: relative;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.tv_img {
    width: 100%;
    max-width: 709.725px;
    height: auto;
    position: relative;
    z-index: 10;
}

.tv_vid {
    position: absolute;
    top: 8%;
    left: 15.5%;
    width: 68%;
    height: 80%;
    z-index: 5;
}
